.LastChat__container {
    position: absolute;
    height: 100%;
    width: 40vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color:
        #F4F4F4;
}

.Button__Back {
    display: none;
}

.LastChat__container::-webkit-scrollbar-track {
    border-radius: 4px;
}

.LastChat__container::-webkit-scrollbar {
    width: 20px;
    background-color: #D9D9D9;
}

.LastChat__container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    width: 12px;
    background: #969696;
}

.LastChat__container:hover::-webkit-scrollbar-thumb {
    background: #969696;
}

.Scrollbar_rect1 {
    width: 100%;
    height: 50px;
    margin-top: 155px;
}

.message {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.my_message {
    justify-content: flex-end;
}

.message_contentc {
    padding: 10px;
    margin-top: 37px;
    margin-left: 43px;
    border-radius: 25px;
    color: #ffffff;
    background-color: #33384B;
}

.message_contento {
    margin-top: 37px;
    margin-right: 43px;
    padding: 10px;
    border-radius: 25px;
    color: #33384B;
    background-color: #A2B7CA;
}

.sender {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

.message_text {
    font-weight: bold;
    max-width: 500px;
    margin-left: 5px;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 10px;
}

.timestampo {
    font-size: 12px;
    font-weight: bold;
    color: #33384B;
}

.timestampc {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

@media screen and (max-width: 1549px) {
    .message_contentc {
        margin-left: 5px;
    }

    .message_contento {
        margin-right: 5px;
    }

    .message_text {
        max-width: 350px;
    }
}

@media screen and (max-width: 1199px) {
    .LastChat__container {
        width: 100%;
    }

    .message_text {
        max-width: 350px;
    }

    .Button__Back {
        display: block;
        position: sticky;
        top: 20px;
        width: 200px;
        height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px;
        left: 10px;
        background-color: #CFA63C;
    }
}